/* CSS declarations go here */
.form-control {
	-webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 0px;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pt30{
    margin-top: 30px;
}
.aNav{
    display:block;
}
.liNav{
    border-bottom: 1px solid #EAEAEA;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #e7e7e7;
    border-radius:0px;
}